<form method="post" asp-action="Login">
    <div>
        <label class="form-label">UserName</label>
        <input type="text" class="form-control"/>
        <input type="text" class="form-control" name="username"/>
    </div>
    <div>
        <label class="form-label">Password</label>
        <input type="password" class="form-control" name="password"/>
    </div>
    <div>
        <input type="submit" value="LogIn" class="btn btn-primary"/>
    </div>
</form>