<div>
    <div>
        <label>State Name</label>
        <input type="text" id="txt"/>
    </div>
    <div>
        <button class="btn btn-success">Create</button>
    </div>
</div>

<script>
    $('.btn').click(function(){
        var statename = $('#txt').val();
        var state = {stateName:statename};
        $.ajax({
            url: 'https://localhost:7272/api/States',
            type:'POST',
            contentType:'application/json',
            data:JSON.stringify(state),
            dataType:'json',
            success: function(){
                //alert('One state created successfully');
                window.location.href = 'https://localhost:7260/AjaxState';
            },
            error:function(){
                alert('Api called failed....');
            }

        });
    });
</script>